body {
    background-color: #1C1C1C;
    background-blend-mode: overlay;
    color: #f4f4f4;
}

h1 {
    font-weight: 900;
    font-size: 40pt;
}

label {
    display: block;
    margin: 10px auto;
}

textarea {
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    max-height: 200px;
}

textarea:focus {
    outline: none;
    border-color: #A9F34A;
    box-shadow: 0 0 5px #A9F34A;
}

button {
    width: 100%;
    min-height: 2em;
    background-color:#A9F34A;
    border-radius: 20px;
    border-color: #A9F34A;
    box-shadow: 0 0 5px #A9F34A;
    padding: 10px;
    color: #1C1C1C;
    font-weight: bold;
}

button:hover {
    box-shadow: 0 0 9px #A9F34A;
    background-color: #bdf86f;
    border-color:rgb(229, 255, 195);
}

.name, .email, .number, .dropdown {
    width: 100%;
    margin: 10px auto;
    min-height: 2em;
    border-radius: 5px;
}

.name:required, 
.email:required, 
.number:required, 
.dropdown:required {
    border-color: red;
}

.name:focus, 
.email:focus, 
.number:focus, 
.dropdown:focus {
    outline: none;
    border-color: #A9F34A;
    box-shadow: 0 0 5px #A9F34A;
}

.radio-btns {
    margin-bottom: 10px;
}

.mini-header {
    margin-top: 20px;
}

#description {
    max-width: 600px;
    margin: 0 auto;
}

.container {
    max-width: 600px;
    background-color:#202123;
    box-shadow: 0 0 10px #333333;
    /* border:2px solid #8b8b8b; */
    padding: 20px;
    margin: 40px auto;
    border-radius: 10px;
    font-family: Roboto;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.container::after, .container::before {
    --angle: 0deg;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #A9F34A, #4f7222, #cbfa8e, #d8ffa5, #A9F34A);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.container::before {
    filter: blur(1.1rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
}

.container2 {
    background-color: #b4b4b42f;
    padding: 20px;
    margin: 30px auto;
    border-radius: 10px;
    color: #f4f4f4;
}

.title-text {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 20px;
    margin: 10px auto;
}

#textlabel {
    margin-bottom: 10px;
}

hr {
    margin: 20px auto;
}

#title {
    font-family: MuseoModerno;
    line-height: 1.2em;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}